.codigo{
    background: rgba(0, 0, 0, 0.555);
    color:#DAA520;
    text-align: justify;
    text-align: left;
    font-style: italic;
}

.descriçãofilme{
    background:rgba(0, 0, 0, 0.692);
    color:#DAA520;
    text-align:justify;
    font-style:italic;
    text-align:left;
    font-size:30px;
}

strong{
    color:white;
}

.Detalhes{
    color:#ffb700;
}

img{
    float: left;
}

.sobrefilme{
    color: rgb(253, 181, 0);
}

.cartaz{
    background-color:goldenrod;
    color:black;
    font-size: 20px;
    text-decoration: none;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.botaosalvarfilme{
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    text-decoration: none;
    border-style: outset;
    padding:15px;
}