#fundo{
    background:black;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body{
  background-color:black;
}

h1{
  color:#DAA520;
}

p{
  color:#DAA520;
  font-size:20px;
}

h2{
    color:#DAA520;
    text-align:right;
    display:inline-block;
    position:relative;
    margin:20px;
    border: none;
    
}

.enviar{
  color:black;
  padding:15px;
  cursor: pointer;
}

.h1{
  color:white;
  text-align: left;
  font-style: italic;
  display:inline-block;
  position:relative;
  margin:60px;
  border:none;
}

.pagina{
  color:#DAA520;
  text-align:right;
  display:inline-block;
  position:relative;
  margin:60px;
  border: none;
}

.paginas{
  color:#DAA520;
  text-align:right;
  display:inline-block;
  position:relative;
  margin:40px;
  border: none;
}

.dropbtn {
    background-color:black;
    color:#DAA520;
    display: inline-block;
    position:relative;
    cursor:pointer;
    border: none;
    margin: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #DAA520;
    padding: 8px 12px;
    text-decoration:none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#f9f9f9;
    border-radius:500px;
  }

.formulario{
  text-align: center;
}