* {
  margin: 0;
  padding:0;
}

#fundo{
    background:rgba(0, 0, 0, 0.555);
    padding:1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

.logo{
  color:white;
  text-align: left;
  font-style: italic;
  display:inline-block;
  position:relative;
  margin:67px;
  border:none;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size:30px;
}


.pagina{
  color:black;
  text-align:right;
  display:inline-block;
  position:relative;
  margin:60px;
  text-shadow: 3px 0 #DAA520, -3px 0 #DAA520, 0 3px #DAA520, 0 -3px #DAA520,
  2px 2px #DAA520, -2px -2px #DAA520, 2px -2px #DAA520, -2px 2px #DAA520;
  border: none;
  font-family: fantasy;
  font-size: 25px;
}

.paginas{
  color:black;
  text-align:right;
  display:inline-block;
  position:relative;
  margin:60px;
  text-shadow: 3px 0 #DAA520, -3px 0 #DAA520, 0 3px #DAA520, 0 -3px #DAA520,
  2px 2px #DAA520, -2px -2px #DAA520, 2px -2px #DAA520, -2px 2px #DAA520;
  border: none;
  font-family: fantasy;
  font-size: 25px;
}

.dropbtn {
  background-color:rgba(0, 0, 0, 0);
  color:#DAA520;
  display: inline-block;
  position:relative;
  cursor:pointer;
  border: none;
  margin: 20px;
  border: none;
}

.textodropdown{
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none;
  border-style: outset;
  border-color:black;
  position:absolute;
  background-color:#f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration:none;
  display: block;
  border-style: outset;
}

.dropdown-content a:hover {
  background-color:black;
  color:#DAA520;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:black;
  font-style: oblique;
  text-shadow: 3px 0 #DAA520, -3px 0 #DAA520, 0 3px #DAA520, 0 -3px #DAA520,
  2px 2px #DAA520, -2px -2px #DAA520, 2px -2px #DAA520, -2px 2px #DAA520;
  border-style:outset;
  border-color:#DAA520;
  border-radius:100px;
}

body{
  background: url('../../fotos//atividadesite2.jpg');
}

h1{
  color:#ffb700;
}

h2{
    color:#DAA520;
    text-align:right;
    display:inline-block;
    position:relative;
    margin:20px;
    border: none;
    
}

.logo{
  cursor: pointer;
 }

 #banner {
  width: 50px;
  right: 50px;
  float: left;
}