.tudo {
    display:flex;
    text-align:center;
    padding: 10px;
  }
  
  .Clique{
    background-color: black;
    text-align: center;
    color: #DAA520;
    text-decoration: none;
    margin:30px;
    background:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .excluirSerie{
    background-color: black;
    color:#DAA520;
    cursor: pointer;
    border-radius:100px 100px 100px 100px;
    bottom:100px;
    border-color:#DAA520;
    font-size:16px;
  }